.grabie-grabbable {
  cursor: -webkit-grab;
  z-index: 1;
}

.grabie-grabbable.grabie-grabbing {
  user-select: none;
  opacity: 0.8;
  z-index: 3;
}

.grabie-ease {
  transition: all 0.1s ease-in-out;
}

.grabbie-placeholder {
  display: block;
  width: 90%;
  margin: 10px 5%;
  background: #F4E596;
  height: 3em;
  border-radius: 5px;
}

.grabbie-placeholder-sortie-column {
  opacity: 0.8;
  background: darkgray;
  float: left;
}
