.testbox {
    background: #00CAE8;
    width: 90%;
    margin: 10px 5%;
    color: #FFF; padding: 1.5em;
    text-align: center;
    border-radius: 4px;

    .overlay & {
        pointer-events: none;
        * {
           pointer-events: none; 
        }
    }
}

.overlay {pointer-events: none;}

.grabie-grabbing > .testbox {
    background: #0AF;
    #opacity: 0.8;
    #transform: matrix(0.9, 0.1, 0, 1, 0, 0);
    -webkit-filter: blur(0.1px);
}

.grabie-grabover > .testbox {
    background: #DAF;
}

.testbox:hover {
  background: #0AF;
}
